<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <input class="chat-button" type="submit" value="login">
            <div>
                <a class="chat-button" href="{% url 'signup' %}">Or signup</a>
            </div>
        </form>
    </div>
</body>
</html>