<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>User's account</title>
</head>
<body>
<div class="container">
  <a href="{% url 'index' %}" class="leaveButton">back</a>
    <img class="circle" src="{{ user.account.avatar.url }}"/>
    <div class="media-body">
      <h2 class="user-h2">{{ user.username }}</h2>
    </div>
    <form method="POST" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="legend">Profile</legend>
      {{ user_update_form }}
      {{ account_update_form }}
    </fieldset>
    <div>
      <button type="submit" class="chat-button">Update</button>
    </div>
  </form>
</div>
</body>
</html>
